@font-face {
    font-family: 'Helvetica Neue Light';
    src: url(../fonts/HelveticaNeueLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Noe Display Bold';
    src: url(../fonts/noe-display-bold.ttf) format('truetype');
}

body {
    font-size: 14px;
    font-family: 'Helvetica Neue Light', sans-serif;
    color: #5a585a;
}

.slash {
    font-size: 8rem;
    line-height: 0.8;
}

.title {
    h2 {
        font: 4rem 'Noe Display Bold';
        color: #5a585a;
    }
}

.is-relative {
    position: relative;
}

#myVideo {
    min-width: 100%;
}

#header {
    .navbar {
        .navbar-brand {
            .logo-text {
            }
        }

        .navbar-start {
        }

        .navbar-item {
            line-height: 1;
            padding: 0 0.75rem;
            font-family: 'Noe Display Bold';

            &:hover {
                background: none;
            }

            .lang {
                border: 1px solid #5a585a;
            }

            .navbar-link {
                &:not(.is-arrowless) {
                    &::after {
                        color: #5a585a;
                    }
                }
            }
        }

        .navbar-dropdown {
            .navbar-item {
                line-height: 1.5;
                padding: 0.5rem 0.75rem;
            }
        }
    }
}

#who-we-are {
    .container {
        .columns {
            &:first-child {
                min-height: 770px;

                .is-relative {
                    .image {
                        position: absolute;
                        top: -5rem;
                        left: 0;
                    }
                }
            }

            &:last-child {
                min-height: 540px;

                .column {
                    &:first-child {
                        display: flex;
                        align-items: center;
                    }
                }

                .is-relative {
                    .image {
                        position: absolute;
                        top: 0;
                        left: -180px;
                        z-index: -1;
                    }
                }
            }
        }

        .question {
            max-width: 120px;
            line-height: 2;
        }

        .level {
            align-items: flex-start;
        }
    }
}

#quote {
    background-color: #fff3ea;

    .container {
        .quote {
            position: absolute;
            font: 30rem 'Noe Display Bold';
            height: 300px;
        }

        .quote-start {
            top: -170px;
            left: 0;
        }

        .quote-end {
            bottom: -180px;
            right: 0;
        }
    }

    p,
    div {
        font: 7.5rem 'Noe Display Bold';
        color: #ef3826;
    }
}

#our-clients {
    img {
        width: auto;
        margin: 0 auto;
    }
}

#what-we-do {
    .project-title {
        top: 50%;
        position: absolute;
        font-family: 'Noe Display Bold';
        left: -7rem;

        .word {
            transform: translateY(-50%);
            width: 20px;
            color: #898687;
            float: right;
        }
    }

    .project-title-mobile {
        display: none;
    }

    .project-item {
        margin: 0 8rem 1.5rem 8rem;
        .image {
            position: relative;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: rgba(255, 50, 0, 0.7);
                display: none;
            }

            .item-name {
                position: absolute;
                bottom: 15px;
                right: 0;
                left: 0;
                text-align: right;
                margin-right: 15px;
                color: #fff;
                font-family: 'Noe Display Bold';
                -webkit-transition: all 0.5s ease;
                /* For Safari 3.0 to 6.0 */
                transition: all 0.5s ease;
                /* For modern browsers */
            }

            &:hover {
                &::before {
                    display: block;
                }

                .item-name {
                    bottom: 50%;
                    margin-bottom: -48px;
                    text-align: center;
                    font-size: 4rem !important;
                    margin-right: 0;
                }

                .item-small-name {
                    bottom: 50%;
                    margin-bottom: -24px;
                    text-align: center;
                    font-size: 2rem !important;
                }
            }
        }

        .column {
            position: relative;

            .name {
                position: absolute;
                bottom: 15px;
                right: 15px;
                color: #fff;
                font-family: 'Noe Display Bold';
            }
        }
    }
}

// modal
.modal-card,
.modal-content {
    width: 90%;
}

.modal-content {
    &::-webkit-scrollbar {
        width: 5px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid #ccc;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: linear-gradient(left, #fff, #e4e4e4);
        border: 1px solid #aaa;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }

    &::-webkit-scrollbar-thumb:active {
        background: linear-gradient(left, #22add4, #1e98ba);
    }
}

@media screen and (max-width: 768px) {
    .navbar-menu {
        &.is-active {
            .navbar-end {
                > .navbar-item {
                    padding: 20px 40px !important;
                    border-top: 1px solid #d3d3d3;
                }
            }
        }
    }
    #who-we-are {
        .container {
            .columns {
                .is-relative {
                    position: static !important;
                    .image {
                        margin-top: 0.5rem;
                        position: static !important;
                    }
                }
            }
        }
    }
    #quote {
        .container {
            .quote {
                font-size: 8rem;
                height: auto;
            }
            .quote-start {
                top: -50px;
                left: 10px;
            }
            .quote-end {
                bottom: -140px;
                right: 10px;
            }
            p {
                font-size: 2rem;
            }
        }
    }

    #what-we-do {
        .project-title-mobile {
            display: block;
        }

        .project-item {
            margin: 0 0 1rem 0;
        }
    }
}
/* @media screen and (min-width: 1472px) {

    .modal-card,
    .modal-content {
        max-width: 1344px;
        width: 1344px;
    }
}

@media screen and (min-width: 1088px) {

    .modal-card,
    .modal-content {
        max-width: 960px;
        width: 960px;
    }
} */
