$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (
    ('0', 0),
    ('1', 0.125),
    ('2', 0.25),
    ('3', 0.5),
    ('35', 0.75),
    ('4', 1),
    ('5', 1.5),
    ('6', 2),
    ('7', 4),
    ('8', 8)
);
$positions: (('t', 'top'), ('r', 'right'), ('b', 'bottom'), ('l', 'left'));

$combinePositions: (('x', 'left', 'right'), ('y', 'top', 'bottom'));

@function sizeValue($key, $value) {
    @return if($key == '0', 0, $value + $sizeUnit);
}

@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$marginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue) !important;
    }
    .#{$paddingKey}#{$separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue) !important;
    }
    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);
        .#{$marginKey}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
        }
        .#{$paddingKey}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
        }
    }
    @each $position in $combinePositions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);
        $posValue2: nth($position, 3);
        .#{$marginKey}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            margin-#{$posValue2}: sizeValue($sizeKey, $sizeValue) !important;
        }
        .#{$paddingKey}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            padding-#{$posValue2}: sizeValue($sizeKey, $sizeValue) !important;
        }
    }
}

@media screen and (max-width: 768px) {
    $sizes: (
        ('0', 0),
        ('1', 0),
        ('2', 0.0234375),
        ('3', 0.046875),
        ('35', 0.09375),
        ('4', 0.1875),
        ('5', 0.375),
        ('6', 0.75),
        ('7', 1.5),
        ('8', 3)
    );
    @each $size in $sizes {
        $sizeKey: nth($size, 1);
        $sizeValue: nth($size, 2);
        .#{$marginKey}#{$separator}#{$sizeKey} {
            margin: sizeValue($sizeKey, $sizeValue) !important;
        }
        .#{$paddingKey}#{$separator}#{$sizeKey} {
            padding: sizeValue($sizeKey, $sizeValue) !important;
        }
        @each $position in $positions {
            $posKey: nth($position, 1);
            $posValue: nth($position, 2);
            .#{$marginKey}#{$posKey}#{$separator}#{$sizeKey} {
                margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }
            .#{$paddingKey}#{$posKey}#{$separator}#{$sizeKey} {
                padding-#{$posValue}: sizeValue(
                    $sizeKey,
                    $sizeValue
                ) !important;
            }
        }
        @each $position in $combinePositions {
            $posKey: nth($position, 1);
            $posValue: nth($position, 2);
            $posValue2: nth($position, 3);
            .#{$marginKey}#{$posKey}#{$separator}#{$sizeKey} {
                margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
                margin-#{$posValue2}: sizeValue(
                    $sizeKey,
                    $sizeValue
                ) !important;
            }
            .#{$paddingKey}#{$posKey}#{$separator}#{$sizeKey} {
                padding-#{$posValue}: sizeValue(
                    $sizeKey,
                    $sizeValue
                ) !important;
                padding-#{$posValue2}: sizeValue(
                    $sizeKey,
                    $sizeValue
                ) !important;
            }
        }
    }
}
