.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.m-1 {
  margin: 0.125rem !important;
}

.p-1 {
  padding: 0.125rem !important;
}

.mt-1 {
  margin-top: 0.125rem !important;
}

.pt-1 {
  padding-top: 0.125rem !important;
}

.mr-1 {
  margin-right: 0.125rem !important;
}

.pr-1 {
  padding-right: 0.125rem !important;
}

.mb-1 {
  margin-bottom: 0.125rem !important;
}

.pb-1 {
  padding-bottom: 0.125rem !important;
}

.ml-1 {
  margin-left: 0.125rem !important;
}

.pl-1 {
  padding-left: 0.125rem !important;
}

.mx-1 {
  margin-left: 0.125rem !important;
  margin-right: 0.125rem !important;
}

.px-1 {
  padding-left: 0.125rem !important;
  padding-right: 0.125rem !important;
}

.my-1 {
  margin-top: 0.125rem !important;
  margin-bottom: 0.125rem !important;
}

.py-1 {
  padding-top: 0.125rem !important;
  padding-bottom: 0.125rem !important;
}

.m-2 {
  margin: 0.25rem !important;
}

.p-2 {
  padding: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.25rem !important;
}

.pr-2 {
  padding-right: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.25rem !important;
}

.pl-2 {
  padding-left: 0.25rem !important;
}

.mx-2 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.px-2 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.my-2 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.m-3 {
  margin: 0.5rem !important;
}

.p-3 {
  padding: 0.5rem !important;
}

.mt-3 {
  margin-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 0.5rem !important;
}

.mr-3 {
  margin-right: 0.5rem !important;
}

.pr-3 {
  padding-right: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 0.5rem !important;
}

.ml-3 {
  margin-left: 0.5rem !important;
}

.pl-3 {
  padding-left: 0.5rem !important;
}

.mx-3 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.px-3 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.my-3 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.m-35 {
  margin: 0.75rem !important;
}

.p-35 {
  padding: 0.75rem !important;
}

.mt-35 {
  margin-top: 0.75rem !important;
}

.pt-35 {
  padding-top: 0.75rem !important;
}

.mr-35 {
  margin-right: 0.75rem !important;
}

.pr-35 {
  padding-right: 0.75rem !important;
}

.mb-35 {
  margin-bottom: 0.75rem !important;
}

.pb-35 {
  padding-bottom: 0.75rem !important;
}

.ml-35 {
  margin-left: 0.75rem !important;
}

.pl-35 {
  padding-left: 0.75rem !important;
}

.mx-35 {
  margin-left: 0.75rem !important;
  margin-right: 0.75rem !important;
}

.px-35 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.my-35 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}

.py-35 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.m-4 {
  margin: 1rem !important;
}

.p-4 {
  padding: 1rem !important;
}

.mt-4 {
  margin-top: 1rem !important;
}

.pt-4 {
  padding-top: 1rem !important;
}

.mr-4 {
  margin-right: 1rem !important;
}

.pr-4 {
  padding-right: 1rem !important;
}

.mb-4 {
  margin-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1rem !important;
}

.ml-4 {
  margin-left: 1rem !important;
}

.pl-4 {
  padding-left: 1rem !important;
}

.mx-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.my-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.m-5 {
  margin: 1.5rem !important;
}

.p-5 {
  padding: 1.5rem !important;
}

.mt-5 {
  margin-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 1.5rem !important;
}

.mr-5 {
  margin-right: 1.5rem !important;
}

.pr-5 {
  padding-right: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 1.5rem !important;
}

.ml-5 {
  margin-left: 1.5rem !important;
}

.pl-5 {
  padding-left: 1.5rem !important;
}

.mx-5 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.px-5 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.my-5 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.m-6 {
  margin: 2rem !important;
}

.p-6 {
  padding: 2rem !important;
}

.mt-6 {
  margin-top: 2rem !important;
}

.pt-6 {
  padding-top: 2rem !important;
}

.mr-6 {
  margin-right: 2rem !important;
}

.pr-6 {
  padding-right: 2rem !important;
}

.mb-6 {
  margin-bottom: 2rem !important;
}

.pb-6 {
  padding-bottom: 2rem !important;
}

.ml-6 {
  margin-left: 2rem !important;
}

.pl-6 {
  padding-left: 2rem !important;
}

.mx-6 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.px-6 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.my-6 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.py-6 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.m-7 {
  margin: 4rem !important;
}

.p-7 {
  padding: 4rem !important;
}

.mt-7 {
  margin-top: 4rem !important;
}

.pt-7 {
  padding-top: 4rem !important;
}

.mr-7 {
  margin-right: 4rem !important;
}

.pr-7 {
  padding-right: 4rem !important;
}

.mb-7 {
  margin-bottom: 4rem !important;
}

.pb-7 {
  padding-bottom: 4rem !important;
}

.ml-7 {
  margin-left: 4rem !important;
}

.pl-7 {
  padding-left: 4rem !important;
}

.mx-7 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.px-7 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.my-7 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.py-7 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.m-8 {
  margin: 8rem !important;
}

.p-8 {
  padding: 8rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.mr-8 {
  margin-right: 8rem !important;
}

.pr-8 {
  padding-right: 8rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

.ml-8 {
  margin-left: 8rem !important;
}

.pl-8 {
  padding-left: 8rem !important;
}

.mx-8 {
  margin-left: 8rem !important;
  margin-right: 8rem !important;
}

.px-8 {
  padding-left: 8rem !important;
  padding-right: 8rem !important;
}

.my-8 {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}

.py-8 {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important;
}

@media screen and (max-width: 768px) {
  .m-0 {
    margin: 0 !important;
  }
  .p-0 {
    padding: 0 !important;
  }
  .mt-0 {
    margin-top: 0 !important;
  }
  .pt-0 {
    padding-top: 0 !important;
  }
  .mr-0 {
    margin-right: 0 !important;
  }
  .pr-0 {
    padding-right: 0 !important;
  }
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .pb-0 {
    padding-bottom: 0 !important;
  }
  .ml-0 {
    margin-left: 0 !important;
  }
  .pl-0 {
    padding-left: 0 !important;
  }
  .mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .m-1 {
    margin: 0rem !important;
  }
  .p-1 {
    padding: 0rem !important;
  }
  .mt-1 {
    margin-top: 0rem !important;
  }
  .pt-1 {
    padding-top: 0rem !important;
  }
  .mr-1 {
    margin-right: 0rem !important;
  }
  .pr-1 {
    padding-right: 0rem !important;
  }
  .mb-1 {
    margin-bottom: 0rem !important;
  }
  .pb-1 {
    padding-bottom: 0rem !important;
  }
  .ml-1 {
    margin-left: 0rem !important;
  }
  .pl-1 {
    padding-left: 0rem !important;
  }
  .mx-1 {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }
  .px-1 {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .my-1 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }
  .py-1 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  .m-2 {
    margin: 0.02344rem !important;
  }
  .p-2 {
    padding: 0.02344rem !important;
  }
  .mt-2 {
    margin-top: 0.02344rem !important;
  }
  .pt-2 {
    padding-top: 0.02344rem !important;
  }
  .mr-2 {
    margin-right: 0.02344rem !important;
  }
  .pr-2 {
    padding-right: 0.02344rem !important;
  }
  .mb-2 {
    margin-bottom: 0.02344rem !important;
  }
  .pb-2 {
    padding-bottom: 0.02344rem !important;
  }
  .ml-2 {
    margin-left: 0.02344rem !important;
  }
  .pl-2 {
    padding-left: 0.02344rem !important;
  }
  .mx-2 {
    margin-left: 0.02344rem !important;
    margin-right: 0.02344rem !important;
  }
  .px-2 {
    padding-left: 0.02344rem !important;
    padding-right: 0.02344rem !important;
  }
  .my-2 {
    margin-top: 0.02344rem !important;
    margin-bottom: 0.02344rem !important;
  }
  .py-2 {
    padding-top: 0.02344rem !important;
    padding-bottom: 0.02344rem !important;
  }
  .m-3 {
    margin: 0.04688rem !important;
  }
  .p-3 {
    padding: 0.04688rem !important;
  }
  .mt-3 {
    margin-top: 0.04688rem !important;
  }
  .pt-3 {
    padding-top: 0.04688rem !important;
  }
  .mr-3 {
    margin-right: 0.04688rem !important;
  }
  .pr-3 {
    padding-right: 0.04688rem !important;
  }
  .mb-3 {
    margin-bottom: 0.04688rem !important;
  }
  .pb-3 {
    padding-bottom: 0.04688rem !important;
  }
  .ml-3 {
    margin-left: 0.04688rem !important;
  }
  .pl-3 {
    padding-left: 0.04688rem !important;
  }
  .mx-3 {
    margin-left: 0.04688rem !important;
    margin-right: 0.04688rem !important;
  }
  .px-3 {
    padding-left: 0.04688rem !important;
    padding-right: 0.04688rem !important;
  }
  .my-3 {
    margin-top: 0.04688rem !important;
    margin-bottom: 0.04688rem !important;
  }
  .py-3 {
    padding-top: 0.04688rem !important;
    padding-bottom: 0.04688rem !important;
  }
  .m-35 {
    margin: 0.09375rem !important;
  }
  .p-35 {
    padding: 0.09375rem !important;
  }
  .mt-35 {
    margin-top: 0.09375rem !important;
  }
  .pt-35 {
    padding-top: 0.09375rem !important;
  }
  .mr-35 {
    margin-right: 0.09375rem !important;
  }
  .pr-35 {
    padding-right: 0.09375rem !important;
  }
  .mb-35 {
    margin-bottom: 0.09375rem !important;
  }
  .pb-35 {
    padding-bottom: 0.09375rem !important;
  }
  .ml-35 {
    margin-left: 0.09375rem !important;
  }
  .pl-35 {
    padding-left: 0.09375rem !important;
  }
  .mx-35 {
    margin-left: 0.09375rem !important;
    margin-right: 0.09375rem !important;
  }
  .px-35 {
    padding-left: 0.09375rem !important;
    padding-right: 0.09375rem !important;
  }
  .my-35 {
    margin-top: 0.09375rem !important;
    margin-bottom: 0.09375rem !important;
  }
  .py-35 {
    padding-top: 0.09375rem !important;
    padding-bottom: 0.09375rem !important;
  }
  .m-4 {
    margin: 0.1875rem !important;
  }
  .p-4 {
    padding: 0.1875rem !important;
  }
  .mt-4 {
    margin-top: 0.1875rem !important;
  }
  .pt-4 {
    padding-top: 0.1875rem !important;
  }
  .mr-4 {
    margin-right: 0.1875rem !important;
  }
  .pr-4 {
    padding-right: 0.1875rem !important;
  }
  .mb-4 {
    margin-bottom: 0.1875rem !important;
  }
  .pb-4 {
    padding-bottom: 0.1875rem !important;
  }
  .ml-4 {
    margin-left: 0.1875rem !important;
  }
  .pl-4 {
    padding-left: 0.1875rem !important;
  }
  .mx-4 {
    margin-left: 0.1875rem !important;
    margin-right: 0.1875rem !important;
  }
  .px-4 {
    padding-left: 0.1875rem !important;
    padding-right: 0.1875rem !important;
  }
  .my-4 {
    margin-top: 0.1875rem !important;
    margin-bottom: 0.1875rem !important;
  }
  .py-4 {
    padding-top: 0.1875rem !important;
    padding-bottom: 0.1875rem !important;
  }
  .m-5 {
    margin: 0.375rem !important;
  }
  .p-5 {
    padding: 0.375rem !important;
  }
  .mt-5 {
    margin-top: 0.375rem !important;
  }
  .pt-5 {
    padding-top: 0.375rem !important;
  }
  .mr-5 {
    margin-right: 0.375rem !important;
  }
  .pr-5 {
    padding-right: 0.375rem !important;
  }
  .mb-5 {
    margin-bottom: 0.375rem !important;
  }
  .pb-5 {
    padding-bottom: 0.375rem !important;
  }
  .ml-5 {
    margin-left: 0.375rem !important;
  }
  .pl-5 {
    padding-left: 0.375rem !important;
  }
  .mx-5 {
    margin-left: 0.375rem !important;
    margin-right: 0.375rem !important;
  }
  .px-5 {
    padding-left: 0.375rem !important;
    padding-right: 0.375rem !important;
  }
  .my-5 {
    margin-top: 0.375rem !important;
    margin-bottom: 0.375rem !important;
  }
  .py-5 {
    padding-top: 0.375rem !important;
    padding-bottom: 0.375rem !important;
  }
  .m-6 {
    margin: 0.75rem !important;
  }
  .p-6 {
    padding: 0.75rem !important;
  }
  .mt-6 {
    margin-top: 0.75rem !important;
  }
  .pt-6 {
    padding-top: 0.75rem !important;
  }
  .mr-6 {
    margin-right: 0.75rem !important;
  }
  .pr-6 {
    padding-right: 0.75rem !important;
  }
  .mb-6 {
    margin-bottom: 0.75rem !important;
  }
  .pb-6 {
    padding-bottom: 0.75rem !important;
  }
  .ml-6 {
    margin-left: 0.75rem !important;
  }
  .pl-6 {
    padding-left: 0.75rem !important;
  }
  .mx-6 {
    margin-left: 0.75rem !important;
    margin-right: 0.75rem !important;
  }
  .px-6 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }
  .my-6 {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
  }
  .py-6 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }
  .m-7 {
    margin: 1.5rem !important;
  }
  .p-7 {
    padding: 1.5rem !important;
  }
  .mt-7 {
    margin-top: 1.5rem !important;
  }
  .pt-7 {
    padding-top: 1.5rem !important;
  }
  .mr-7 {
    margin-right: 1.5rem !important;
  }
  .pr-7 {
    padding-right: 1.5rem !important;
  }
  .mb-7 {
    margin-bottom: 1.5rem !important;
  }
  .pb-7 {
    padding-bottom: 1.5rem !important;
  }
  .ml-7 {
    margin-left: 1.5rem !important;
  }
  .pl-7 {
    padding-left: 1.5rem !important;
  }
  .mx-7 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
  .px-7 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .my-7 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  .py-7 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
  .m-8 {
    margin: 3rem !important;
  }
  .p-8 {
    padding: 3rem !important;
  }
  .mt-8 {
    margin-top: 3rem !important;
  }
  .pt-8 {
    padding-top: 3rem !important;
  }
  .mr-8 {
    margin-right: 3rem !important;
  }
  .pr-8 {
    padding-right: 3rem !important;
  }
  .mb-8 {
    margin-bottom: 3rem !important;
  }
  .pb-8 {
    padding-bottom: 3rem !important;
  }
  .ml-8 {
    margin-left: 3rem !important;
  }
  .pl-8 {
    padding-left: 3rem !important;
  }
  .mx-8 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
  .px-8 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  .my-8 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  .py-8 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
/*# sourceMappingURL=spacing.css.map */