/*
Theme Name: Enter
Author: Quang Huy
Version: 1.0
*/
.menu-menu-chinh-container{
    width: 100%;
}

#menu-menu-chinh{
    margin-top: 1.5rem;
    display: flex;
    width: 60%;
    float: right;
}

.menu-item{
    /* margin: auto; */
    font-family: 'Noe Display Bold';
    line-height: 1;
    /* padding: 0 .75rem; */
    font-family: 'Noe Display Bold';
}

.menu-item::after{
    content:"/";
    font-size: 1.5rem!important;
    color: #4a4a4a;
    line-height: 1.5;
    padding: .5rem 1.75rem;
    position: relative;
}

.menu-item:last-child::after{
    content:"";
}

#menu-menu-chinh .menu-item-has-children{
    display: flex;
    margin-top: 8px;
}
.is-active{
    display: block;
}

#what-we-do .project-title-mobile {
    display: none;
}

@media screen and (max-width: 1087px){
    .menu-menu-chinh-container, .country-selector{
        display: none;
    }
    .menu-menu-chinh-container.is-active{
        display: block;
    }
    .country-selector.is-active{
        width: 100%;
        display: flow-root;
        padding: 20px 40px !important;
        border-top: 1px solid #d3d3d3;
    }
    .navbar-burger.is-active{
        display: block;
    }
    .menu-item{
        padding: 20px 40px !important;
        border-top: 1px solid #d3d3d3;
    }
    .menu-item a{

        color: #4a4a4a;
    }
    .menu-item::after{
        content: none;
    }
    .menu-item:last-child::after{
        content: none;
    }
    #menu-menu-chinh{
        width: 100%;
        display: block;
    }
    .country-selector.weglot-dropdown .wgcurrent:after{
        top: 35px;
    }
    .country-selector.weglot-dropdown li{
        padding: 5px 40px !important;
        border-top: 1px solid #d3d3d3;
        color: #4a4a4a;
    }
}
@media screen and (max-width: 768px){
    #our-clients .images-our{
        display: flex;
    }
    #our-clients .columns .image-our {
        flex: none;
        width: 50%;
    }
    #what-we-do .project-item {
        margin: 0 0 1rem 0;
    }
}